.esgi-form-holder {width: 600px; background: #fff; margin: 24px auto; border-radius: 5px; box-shadow: 0 0 2px 10px #eee; padding: 24px;
    form {
        #esgi-form-header {
            h2 {}
        }
        .form-entry {
            input {}
            button {}
            a {}
        }
    }
}